/* 'blue'        : '#1f77b4', */
/* 'lightblue'   : '#aec7e8', */
/* 'orange'      : '#ff7f0e', */
/* 'lightorange' : '#ffbb78', */
/* 'green'       : '#2ca02c', */
/* 'lightgreen'  : '#98df8a', */
/* 'red'         : '#d62728', */
/* 'lightred'    : '#ff9896', */
/* 'purple'      : '#9467bd', */
/* 'lightpurple' : '#c5b0d5', */
/* 'brown'       : '#8c564b', */
/* 'lightbrown'  : '#c49c94', */
/* 'grey'        : '#7f7f7f', */
/* 'lightgrey'   : '#c7c7c7', */

.editor-container{
    padding: 10px;
    background-color: #DDD;
    border-radius: 15px;
}
.editor-header{
    font-weight: 600;
    margin: 0px 5px 5px 5px;
}
.editor-footer{
    margin: 10px 5px 0px 0px;
}
#editor-footer-info{
    padding : 5px 10px;
    border-radius: 10px;
}
#editor-footer-info.success{
    background-color: #aec7e8;
}
#editor-footer-info.waiting{
    background-color: #c7c7c7;
}
#editor-footer-info.error{
    background-color: #ff9896;
}
#editor-footer-desc{
    display: inline-block;
    font-size: 0.8em;
    /* margin-top: 10px; */
    margin-left: 10px;
}


.top-block{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.svg-container{
    flex-grow: 1;
}
.svg-settings-container{
    /* background-color: #DDD; */
    border-radius: 15px;
    padding: 10px;
    width:100px;
    /* display: inline-block; */
}

.svg-settings-button{
    border: none;
    font-family: inherit;
    width: 100%;
    margin: 5px 0px;
    padding: 5px;
    border-radius: 5px;
    background-color: #DDD;
    cursor: pointer;
}
.svg-settings-button:hover{
    background-color: #aec7e8;
}
