/* <div class="example">
/*     <div class="example-diagram"> 
/*         <svg class="svg-diagram"> ... </svg>
 *     </div>
/*     <div class="example-code"> 
 *         ... 
 *     </div>
/* </div> */

 .example {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
 }
.example-diagram {
    width: 400px;
    height: 300px;
}
.svg-diagram {
    width: 100%;
    height: 100%;
}
.example-code {
    flex-grow: 1;
    overflow: auto;
}
