/* 'blue'        : '#1f77b4', */
/* 'lightblue'   : '#aec7e8', */
/* 'orange'      : '#ff7f0e', */
/* 'lightorange' : '#ffbb78', */
/* 'green'       : '#2ca02c', */
/* 'lightgreen'  : '#98df8a', */
/* 'red'         : '#d62728', */
/* 'lightred'    : '#ff9896', */
/* 'purple'      : '#9467bd', */
/* 'lightpurple' : '#c5b0d5', */
/* 'brown'       : '#8c564b', */
/* 'lightbrown'  : '#c49c94', */
/* 'grey'        : '#7f7f7f', */
/* 'lightgrey'   : '#c7c7c7', */

/* <div class="example"> 
/*     <div class="example-diagram">
/*         <svg class="svg-diagram"> ... </svg>
/*         <div class="control-container">  </div>
/*     </div>
/*     <div class="example-code-container"> 
/*         <span class="example-title"> ... </span>
/*         <div class="example-code-bg">
/*             <div class="example-code">
/*                 ...
/*             </div>
/*         </div>
/*     </div>
/* </div> */

/* Override default hljs background */
.example-code.hljs {
     background: none;
}
pre {
    margin : 0px;
}

hr{
    width: 95%;
    border-top: 1px dashed rgba(0,0,0,0.3);
}

#body-container{
    margin: 0px 20px;
}
.example {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1em;
    margin-left: 0;
}
.example-diagram {
}
.svg-diagram {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
.s100>*>*>.svg-diagram{
    width: 100px;
    height: 100px;
}
.s150>*>*>.svg-diagram{
    width: 150px;
    height: 150px;
}
.s200>*>*>.svg-diagram{
    width: 200px;
    height: 200px;
}
.control-container {
    margin-left: 60px;
    margin-bottom: 100px;
}
.example-title {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.2em;
}
.example-subtitle {
    margin-left: 10px;
}
.example-code-container {
    flex-grow: 1;
    overflow-x: auto;
}
.example-code-bg {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.navigation{
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 10px 0px;
}
.navigation-title{
    font-weight: 600;
    font-size: 1.2em;
    color: #aaa
}
.navigation-link{
    background: #1f77b4;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    padding: 8px 10px;
}
.navigation-link:hover{
    background: #aec7e8;
    color: black;
}
.navigation-link.current-page{
    background: #e0e0e0;
    color: black;
    cursor: default;
}

code {
    background: #f5f5f5;
    border-radius: 3px;
    padding: 2px 4px;
}
